.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.image{
   width: 210px;
   height: 210px;
   box-shadow: #5b6163 5px 5px 10px;
   margin-left: 30px;
}

.image:hover{
  transform: scale(1.1);
}


#input{
  width: 350px;
  height: 25px;
  margin-bottom: 10px;
  border-width: 3px;
  border-color: brown;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#input:hover{
  transform:scale(1.1);
  background-color: rgb(223, 223, 224);
}

h3{
text-transform: capitalize;
text-decoration: underline;
margin-top: 0;
margin-bottom: 20px;
}

#Navbar{
  background-color: rgb(182, 111, 31);
  margin-top: -30px ;
}

#hr{
 margin-top: -4px;
 margin-bottom: 20px;
 height: 3px;
 background-color: darkred;
}

h1{
  padding-top: 10px;
  text-decoration: underline;
}

#custom-btn{
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: white;
  font-weight: bold;
  height: 2rem;
  border-radius: 5px;
  border-color: rgb(100, 34, 34);
}

#custom-btn:hover{
   transform: scale(1.1);
   background-color: black;
   color: white;
}

.more_image{
  width: 150px;
  height: 150px;
  margin: 30px;
}

.More{
  width: 100%;
  height: 100vh;
  background-color: rgba(8, 7, 0, 0.8);
  margin-top:40px;
  position: absolute;
  margin-top: 0px;
}

.line{
  color: rgb(243, 82, 82);
}

.main_image{
  display: flex;
  flex-wrap: wrap;
}